{
	"ApiCallerService": {
		"Name": "ApiName",
		"Version": "",
		"DefaultCredentials": {
			"Key": {
				"Name": "MyApp_Key",
				"Value"	: "Key"
			},
			"Id": {
				"Name": "MyApp_User",
				"Value": "Id"
			}
		},
		"Environment": "Development"
	}
}
